html {
  font-size: 18px;
  font-family: Nunito;
  background-size: auto;
  overflow-x: hidden;
}


html, body {
  margin: 0;
  height: 100%;
}

body {
  background: linear-gradient(#FF8C8C, #F1EAB9);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media only screen and (max-width: 560px) {
  html {
    font-size: 15px;
  }
}

input:focus {
  outline: none;
}

.App {
  display: flexbox;
  text-align: center;
}

.header {
  top: 0px;
  bottom: 0px;
  margin: 20px;
  display: flex;
  flex-direction: row-reverse;
}

.optionsBarContainer {
  margin: 20px;
}

.playlistContainer {
  /* padding: 100px 300px; */
  margin: 100px 200px 40px 200px;
  text-align: center;
}


.footer {
  background-color: #FF8C8C;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
}

.footer a {
  margin: 100px;
}
